@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&display=swap");

:root {
  --bg: #160F29;
  --bgsecond: #3CDBD3;
  --hover: #F75590;
  --text: #F3DFC1;
}

* {
  margin: 0;
  padding: 0;
  
}

html {
  display: flex;
  justify-content: center;
  background: var(--bg);
  color: var(--text);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

article {
  margin-left: 18.5vw;
  margin-right: 18.5vw;
}

h1 {
  font-family: comfortaa;
  text-align: center;
  padding: 3vw;
}

p {
  font-family: comfortaa;
  padding: 3vw;
}

header {
  text-align: center;
  background: var(--text);
}

nav {
  display: flex;
  align-items: flex-end;
}


#krlogo {
  width: 100px;
  height: 100px;
  margin: 3vw;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navli {
  width: 20vw;
}

a {
  font-family: bebas neue;
  text-decoration: none;
  font-size: 30px;
  color: var(--bg);
  transition: 400ms;
}

a:hover {
  letter-spacing: 1vw;
  color: var(--hover);
  text-shadow: 0 0 10px var(--hover);
}

@media screen and (max-width: 480px) {
  article {
    margin: 0;
  }

  nav {
    flex-wrap: wrap;
    flex-direction: column;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    flex: 1 1 50%;
  }

  footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--text);
}

.footerli {
  width: 33.33vw;
}