@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&display=swap");

:root {
  --bg: #F3F3F4;
  --bgsecond: #9888A5;
  --hover: #01A7C2;
  --text: #372248;
  --accent: #007090;
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  background: var(--bg);
  color: var(--text);
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
}

#krlogo {
  width: 100px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  width: 25vw;
}

a {
  font-family: bebas neue;
  text-decoration: none;
  font-size: 30px;
  color: var(--text);
  transition: 400ms;
}

a:hover {
  letter-spacing: 1.5vw;
  color: var(--hover);
  text-shadow: 0 0 10px var(--hover);
}

@media screen and (max-width: 480px) {
  ul {
    flex-wrap: wrap;
  }

  li {
    flex: 1 1 50%;
  }
}

h1 {
  margin: 10px;
  font-family: comfortaa;
  text-align: center;
}
