@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&display=swap");

:root {
  --bg: #f3f3f4;
  --bgsecond: #9888a5;
  --hover: #01a7c2;
  --text: #372248;
  --accent: #007090;
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  background: var(--bg);
  color: var(--text);
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  vertical-align: text-bottom;
}

nav {
  display: flex;
}

footer {
  display: flex;
}

#krlogo {
  width: 10vw;
  margin: 3vw;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navli {
  width: 20vw;
}

.footerli {
  width: 33.33vw;
}

a {
  font-family: bebas neue;
  text-decoration: none;
  font-size: 30px;
  color: var(--text);
  transition: 400ms;
}

a:hover {
  letter-spacing: 1vw;
  color: var(--hover);
  text-shadow: 0 0 10px var(--hover);
}

@media screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    flex-direction: column;
  }

  footer {
    flex-wrap: wrap;
    flex-direction: column;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    flex: 1 1 50%;
  }
}